aiohttp=3.8.4=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.10.2=pypi_0
anyio=3.6.2=pypi_0
apache-airflow=2.4.0=pypi_0
apache-airflow-providers-airbyte=3.1.0=pypi_0
apache-airflow-providers-amazon=5.1.0=pypi_0
apache-airflow-providers-common-sql=1.3.4=pypi_0
apache-airflow-providers-databricks=3.3.0=pypi_0
apache-airflow-providers-ftp=3.3.1=pypi_0
apache-airflow-providers-http=4.0.0=pypi_0
apache-airflow-providers-imap=3.1.1=pypi_0
apache-airflow-providers-postgres=5.2.1=pypi_0
apache-airflow-providers-slack=5.1.0=pypi_0
apache-airflow-providers-snowflake=3.3.0=pypi_0
apache-airflow-providers-sqlite=3.3.1=pypi_0
apispec=3.3.2=pypi_0
argcomplete=3.0.5=pypi_0
asgiref=3.6.0=pypi_0
asn1crypto=1.5.1=pypi_0
async-timeout=4.0.2=pypi_0
asynctest=0.13.0=pypi_0
attrs=22.2.0=pypi_0
babel=2.12.1=pypi_0
beautifulsoup4=4.12.0=pypi_0
blinker=1.5=pypi_0
boto3=1.26.104=pypi_0
botocore=1.29.104=pypi_0
ca-certificates=2023.01.10=haa95532_0
cached-property=1.5.2=pypi_0
cachelib=0.9.0=pypi_0
cattrs=22.2.0=pypi_0
certifi=2022.12.7=py37haa95532_0
cffi=1.15.1=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.3=pypi_0
clickclick=20.10.2=pypi_0
colorama=0.4.6=pypi_0
colorlog=4.8.0=pypi_0
configupdater=3.1.1=pypi_0
connexion=2.14.2=pypi_0
cron-descriptor=1.2.35=pypi_0
croniter=1.3.8=pypi_0
cryptography=40.0.1=pypi_0
databricks-sql-connector=2.4.1=pypi_0
decorator=5.1.1=pypi_0
deprecated=1.2.13=pypi_0
dill=0.3.6=pypi_0
dnspython=2.3.0=pypi_0
docutils=0.19=pypi_0
email-validator=1.3.1=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.1.1=pypi_0
filelock=3.10.7=pypi_0
flask=2.2.3=pypi_0
flask-appbuilder=4.1.3=pypi_0
flask-babel=2.0.0=pypi_0
flask-caching=2.0.2=pypi_0
flask-jwt-extended=4.4.4=pypi_0
flask-login=0.6.2=pypi_0
flask-session=0.4.0=pypi_0
flask-sqlalchemy=2.5.1=pypi_0
flask-wtf=0.15.1=pypi_0
frozenlist=1.3.3=pypi_0
greenlet=2.0.2=pypi_0
gunicorn=20.1.0=pypi_0
h11=0.14.0=pypi_0
httpcore=0.16.3=pypi_0
httpx=0.23.3=pypi_0
idna=3.4=pypi_0
importlib-metadata=4.13.0=pypi_0
importlib-resources=5.12.0=pypi_0
inflection=0.5.1=pypi_0
itsdangerous=2.1.2=pypi_0
jinja2=3.1.2=pypi_0
jmespath=1.0.1=pypi_0
jsonpath-ng=1.5.3=pypi_0
jsonschema=4.17.3=pypi_0
lazy-object-proxy=1.9.0=pypi_0
linkify-it-py=2.0.0=pypi_0
lockfile=0.12.2=pypi_0
lxml=4.9.2=pypi_0
lz4=4.3.2=pypi_0
mako=1.2.4=pypi_0
markdown=3.4.3=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.2=pypi_0
marshmallow=3.19.0=pypi_0
marshmallow-enum=1.5.1=pypi_0
marshmallow-oneofschema=3.0.1=pypi_0
marshmallow-sqlalchemy=0.26.1=pypi_0
mdit-py-plugins=0.3.5=pypi_0
mdurl=0.1.2=pypi_0
multidict=6.0.4=pypi_0
mypy-boto3-appflow=1.26.78=pypi_0
mypy-boto3-rds=1.26.102=pypi_0
mypy-boto3-redshift-data=1.26.88=pypi_0
numpy=1.21.6=pypi_0
oauthlib=3.2.2=pypi_0
openpyxl=3.1.2=pypi_0
openssl=1.1.1t=h2bbff1b_0
oscrypto=1.3.0=pypi_0
packaging=23.0=pypi_0
pandas=1.3.5=pypi_0
pathspec=0.9.0=pypi_0
pendulum=2.1.2=pypi_0
pip=22.3.1=py37haa95532_0
pkgutil-resolve-name=1.3.10=pypi_0
pluggy=1.0.0=pypi_0
ply=3.11=pypi_0
prison=0.2.1=pypi_0
psutil=5.9.4=pypi_0
psycopg2=2.9.5=pypi_0
pyarrow=11.0.0=pypi_0
pycparser=2.21=pypi_0
pycryptodomex=3.17=pypi_0
pygments=2.14.0=pypi_0
pyjwt=2.6.0=pypi_0
pyopenssl=23.1.1=pypi_0
pyrsistent=0.19.3=pypi_0
python=3.7.16=h6244533_0
python-daemon=3.0.1=pypi_0
python-dateutil=2.8.2=pypi_0
python-graphviz=0.20.1=pypi_0
python-nvd3=0.15.0=pypi_0
python-slugify=8.0.1=pypi_0
pytz=2023.3=pypi_0
pytzdata=2020.1=pypi_0
pyyaml=6.0=pypi_0
redshift-connector=2.0.910=pypi_0
requests=2.28.2=pypi_0
requests-toolbelt=0.10.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986=1.5.0=pypi_0
rich=13.3.3=pypi_0
s3transfer=0.6.0=pypi_0
scramp=1.4.4=pypi_0
setproctitle=1.3.2=pypi_0
setuptools=65.6.3=py37haa95532_0
six=1.16.0=pypi_0
slack-sdk=3.20.2=pypi_0
sniffio=1.3.0=pypi_0
snowflake-connector-python=3.0.2=pypi_0
snowflake-sqlalchemy=1.4.7=pypi_0
soupsieve=2.4=pypi_0
sqlalchemy=1.4.47=pypi_0
sqlalchemy-jsonfield=1.0.1.post0=pypi_0
sqlalchemy-redshift=0.8.13=pypi_0
sqlalchemy-utils=0.40.0=pypi_0
sqlite=3.41.1=h2bbff1b_0
sqlparse=0.4.3=pypi_0
swagger-ui-bundle=0.0.9=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.2=pypi_0
termcolor=2.2.0=pypi_0
text-unidecode=1.3=pypi_0
thrift=0.16.0=pypi_0
typing-extensions=4.5.0=pypi_0
uc-micro-py=1.0.1=pypi_0
unicodecsv=0.14.1=pypi_0
urllib3=1.26.15=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
watchtower=2.0.1=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py37haa95532_0
wincertstore=0.2=py37haa95532_2
wrapt=1.15.0=pypi_0
wtforms=2.3.3=pypi_0
yarl=1.8.2=pypi_0
zipp=3.15.0=pypi_0
